<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Álbumes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="header-container">
            <h2>MusicHub</h2>
        </div>
        <ul>
            <li><a href="http://localhost:3000/api/v1/albums">Álbumes</a></li>
            <li><a href="#">Canciones</a></li>
            <li><a href="http://localhost:3000/api/v1/chat">Chat</a></li>
        </ul>
    </div>
    <button class="navbar-toggle" id="navbar-toggle">&#9776;</button>
    <div class="container">
        <div class="main-content">
                 
        </div>
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>
